<div class="bg-light">
    <div class="row">
     <div class="col-lg-6 col-md-12 col-sm-12 p-5">
   <img [src]="singleProduct.images[0]" alt="" class="w-100 h-100">
     </div>
   
     <div class="col-lg-6 col-md-12 col-sm-12 ">
       <h2>{{singleProduct.title}}</h2>
       <h4>{{singleProduct.price}}$  <span> + Free Shipping</span></h4>
      
       <p>{{singleProduct.description}}</p>
       <input type="number" class="form-control w-25 mb-3" min="0" [(ngModel)]="amount">
       <button class="btn btn-success text-white mb-3 me-2" (click)="addProduct(singleProduct,amount)">Add To Cart</button>
       <button class="btn btn-danger text-white mb-3" (click)="removeProduct(singleProduct,amount)">Remove From Cart</button>
     </div>



    </div>
</div>